body {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: crimson;
}

#title {
  background: url("https://media.giphy.com/media/10rtoKqcDukJgc/giphy.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
  font-size: 5rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#secret-document {
  font-family: cursive;
  width: 720px;
  display: grid;
  grid-template-columns: 33% 67%;
  font-size: 1.33rem;
  background: black;
  color: white;
}

#thank-you {
  font-family: cursive;
  font-size: 1.33rem;
  background: black;
  color: white;
  text-align: center;
}

span {
  background-color: crimson;
}
