#secret-document {
  font-family: monospace;
  font-size: 1.33rem;
  width: 50vw;
  display: flex;
}

#title {
  color: white;
  font-family: cursive;
  font-size: 2rem;
  left: 3.33rem;
  position: absolute;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}
