body {
  background-color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow: hidden; 
}

#haiku {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
